<!DOCTYPE html>
<html lang="en" class="scroll-smooth [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · YKD">
      <%= assigns[:page_title] || "Own Your Progress" %>
    </.live_title>
    <meta name="description" content="Privacy-focused, local-first workout tracker." />
    
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-dark-900 text-white selection:bg-lime-400 selection:text-black overflow-x-hidden">
    <%= @inner_content %>
    <div class="bg-noise"></div>
  </body>
</html>
